@using System
@using System.Linq
@using MudBlazor
@using SmartVestFinancialAdvisor.Core.Constraints

@namespace SmartVestFinancialAdvisor.Components.Pages

@if (Result is null)
{
    <MudText Typo="Typo.caption" Color="Color.Secondary">
        No analysis has been generated yet.
    </MudText>
}
else
{
    <div id="analysis"></div> @* Anchor for /home#analysis *@

    <MudStack Spacing="2">

        <MudText Typo="Typo.h5" Color="Color.Primary">Your Financial Analysis</MudText>
        <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
            Category: @Result.Category
        </MudText>

        <MudDivider />

        <MudText Typo="Typo.h3">
            @TotalScoreInt <MudText Typo="Typo.h6" Inline="true">/100</MudText>
        </MudText>
        <MudText Typo="Typo.caption" Color="Color.Secondary">Overall Score</MudText>

        <MudDivider Class="my-2" />

        <MudText Typo="Typo.h6">Score Details</MudText>

        @if (Result.FinancialScore?.SubScores?.Any() == true)
        {
            <MudTable Items="Result.FinancialScore.SubScores" Dense="true" Hover="true" Elevation="0">
                <HeaderContent>
                    <MudTh>Area</MudTh>
                    <MudTh Style="text-align:right">Score</MudTh>
                    <MudTh Style="text-align:right">Weight</MudTh>
                </HeaderContent>

                <RowTemplate Context="sub">
                    <MudTd DataLabel="Area">@sub.Name</MudTd>
                    <MudTd DataLabel="Score" Style="text-align:right">@sub.RawScore.ToString("F0") / 100</MudTd>
                    <MudTd DataLabel="Weight" Style="text-align:right">@sub.Weight.ToString("P0")</MudTd>
                </RowTemplate>
            </MudTable>
        }
        else
        {
            <MudText Typo="Typo.caption" Color="Color.Secondary">
                No sub-scores available.
            </MudText>
        }

    </MudStack>
}

@code {
    [Parameter] public BuildResult? Result { get; set; }

    private int TotalScoreInt =>
        (int)Math.Round(Convert.ToDouble(Result?.FinancialScore?.Total ?? 0m));
}
