@page "/help"
@using MudBlazor

<h3>This page is still in development. Please return at a later date for this feature to be added.</h3>
<MudGrid>
    <MudItem xs="6"/>
    <MudItem xs="6" >
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/home">
            Return to Home
        </MudButton>
    </MudItem>
    <MudItem xs="6" />

</MudGrid>
@code {

}
