@using MudBlazor
@using SmartVestFinancialAdvisor.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Smartvest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.House" Class="me-2" /> 
                   Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial-survey" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Description" Class="me-2" />
                Financial Survey
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.Pageview" Class="me-2" />
                Financial Resources
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="help" Match="NavLinkMatch.All">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Class="me-2" />
                Help
            </NavLink>
        </div>
    </nav>
</div>


@code {

    private async Task OpenSignInDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,         // we are using TitleContent in the dialog
            FullWidth = true,
            MaxWidth = MaxWidth.Small
        };

        // Replace TestDialog with the actual component class name of your test dialog
        var dialogRef = DialogService.Show<LogInDialog>("", options);
        var result = await dialogRef.Result;

        if (!result.Canceled && result.Data is bool ok && ok)
        {
            Console.WriteLine("Dialog returned OK");
            // Handle success here (e.g., mark user as signed in, navigate, etc.)
        }
    }
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<LogInDialog>("Simple Dialog", options);
    }
    
   private async Task OpenTestDialog()
    {
        Snackbar.Add("OpenTestDialog clicked", Severity.Info);

        var dialogRef = DialogService.Show<LogInDialog>();
        var result = await dialogRef.Result;
    }

}

